
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(229,229,242);
    background: linear-gradient(222deg, rgba(229,229,242,1) 11%, rgba(200,174,224,1) 52%, rgba(128,153,222,1) 100%);
  }

  .welcome {
    text-align: center;
  }
  

  .user-name-form {
    margin: 10px;
    display: flex;
    align-items: center;
  }
  

  .user-input-name {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }


  .user-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
  }
  
  .user-button:hover {
    background-color: #2980b9; 
  }
  

  .highscore-div {
    outline: 1px solid rgb(81, 81, 81);
    background-color:#d0dde6;
    max-width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    border-radius: 22px;
    position: fixed;
    right: 50;
    top: 50%; 
    transform: translateY(-50%);
    box-shadow: 5px 5px 10px 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 5px 5px 10px 4px rgba(0,0,0,0.10);
    -moz-box-shadow: 5px 5px 10px 4px rgba(0,0,0,0.10);
    transition: 0.6s ease 0s;
}

.highscore-div:hover{
  box-shadow: 5px 5px 10px 4px rgba(0,0,0,0.22);
  -webkit-box-shadow: 5px 5px 10px 4px rgba(0,0,0,0.22);
  -moz-box-shadow: 5px 5px 10px 4px rgba(0,0,0,0.22);
  outline: 1px solid rgb(155, 106, 106);
  background-color: #f3f3f3;
}

.highscore-div h2 {
    font-size: 22px;
    margin-top: 0px;
    text-align: center;
}

.highscore {
    list-style-type: none;
    padding: 0;
}

.highscore li {
    margin: 10px;
}

.highscore li span {
    font-weight: bold;
    margin-right: 10px;
}

.contaienr {
  display: flex;
  justify-content: flex-start;
}

.rps {
  max-width: 70px;
  max-height: 70px;

}

.game-container {
  max-width: 500px;
}


.container.player {
  display: flex;

  align-items: center;
 
}

.container.player img.rps {
  width: 70px;
  height: 70px;
  cursor: pointer; 
  
}

.container.player img.rps:last-child {
  margin-right: 0; 
}


.computer-img{
 margin-left: 8%;
}